*{
    margin: 0;
padding: 0;
scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#eaeaea;
}
.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    
}
/* banner section start */
.section{
background-image: url(images/donation13.jpg);
width: 100%;
height: 350px;
background-repeat: no-repeat;
margin-bottom: 50px;
}
.item{
    text-align: center;
    padding: 50px;
    margin: 5px;
    
    
}
.class-1{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.class-2{
    color: white;
    font-size: .7rem;
}
.link{
        padding:5px 10px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        font-size: .8rem;
        background-color:tomato; 
        position: center;
}
/* banner section end */

/* donate section start */
.donate{
    text-align: center;
    margin-bottom: 50px;
}
.class-3{
    font-size: .7rem;
    color: gray;
}
button{
   margin: 10px;
   font-size: 20px;
 
  color: gray;
  font-weight: bold;
  padding: 10px;
  border: none;
}
button:hover{
border: tomato solid 2px;
color: tomato;
}
.class-4{
    color: gray;
    font-size: .7rem;
    border: none;
    text-decoration: none;
}
.tak{
    color: gray;
    font-size: .7rem;
    text-align: center;
     border: none;
     width: 400px;
     height: 20px;
     
   }


/* donate section end */
/* donate-plan start  */
.plan{
    text-align: center;
}
.class-10{
    font-weight: bold;
}
.class-6{
    color: gray;
    font-size: .7rem;
    text-align: center;
}
.card{
    display: flex;
    text-align: left;
    padding: 10px;
    margin: 10px;
    
}
.img{
padding: 10px;
height: 30px;
width: 30px;
}
.div1{
    background-color: rgb(234, 252, 246);
    margin-left: 10px;
  padding: 10px;
    
}
.div2{
    background-color: rgb(250, 228, 231);
    margin: 0 10px;
   padding: 10px;
}
.div3{
    background-color:rgb(255, 227, 227) ;
    margin-right: 10px;
    padding: 10px;
    
}

.class-8{
    color: gray;
    font-size: small;
}
.donate-plan{
    margin-bottom: 50px;
}

/* donate-plan end  */
/* about section start */
.lag{
    display: flex;
    width: 100%;
}
.lags{
    display: flex;
    width: 100%;
}
.class-9{
    color: gray;
    font-size: small;
}
.half-top{
    width: 50%;
    padding-left: 10%;
}
.half-buttom{
    width: 50%;
    padding-left: 10%;
   
  } 
 .div5{
    text-align: left;
    
 }
 
.img-1{
width: 80%;
}
.img-2{
    width: 80%;
   
    }
.first{
   text-decoration: none;
   background-color: tomato;
  color:white;
  padding:5px 20px;
  border: none;
  font-size: .8rem;
}
.end{
    width: 100%;
    margin-bottom: 50px;
}
/* about section end */
/* another section start */
.work{
    text-align: center;
}
.work p{
    color: gray;
    font-size: small;
    margin-bottom: 30px;
}
.btr{
    text-align: center;
    margin-bottom: 50px;
   
}
.col{
    background-color: tomato;
    padding: 0 20px;
    color: white;
    border: none;
    height: 25px;
    width: 100px;
    
}
.colo{
    padding: 0 20px;
    border: none;
    height: 25px;
    width: 120px;
    color:rgb(118, 117, 117);
    background-color: rgb(200, 200, 200);

}
/* another section end */
/* footer section start */
.footer{
    background-color: rgb(12, 12, 29);
    height: 100px;
    text-align: center;

}
.coco{
    padding-top: 20px;
    color: red;
    font-family: 'Sevillana', cursive;
}
.coc{
    color: white;
    font-size: .5rem;
}


/* footer section end */